*
!*/

########################
# Archivos que NO ignora

!LICENSE
!license

## Latex
!*.tex
*-concordance.tex
!*.bib
!*.bst
!*.sty
!*.cls

## Codigo
!*.jl
!*.py
!*.R
!*.c
!*.sql
!*.md
!*.sh
!*.yml

## Otros
!makefile
!Makefile
!.keep
!.gitignore
